body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    padding: 20px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}


.thumbnail {
    position: relative;
    margin: 10px;
    cursor: pointer;
    width: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.thumbnail img {
    display: block;
    max-width: 100%;
    height: auto;
}

.thumbnail p {
    margin: 5px 0 0;
    text-align: center;
    font-weight: bold;
    color: #4287f5;
}

.overlay img {
    max-width: 90%;
    max-height: 90vh;
}


#pagination {
    text-align: center;
    margin-top: 20px;
}

#pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #4287f5;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1;
}

#pagination button:hover {
    background-color: #316ec1;
}

#pageNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#jumpToPageContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin-left: 10px;
}

#pageNavigation button {
    padding: 5px 10px;
    margin: 0 3px;
    font-size: 12px;
    line-height: 1;
    border: none;
    color: white;
    background-color: #4287f5;
    cursor: pointer;
    border-radius: 4px; 
}

#pageNavigation button.active {
    background-color: #c104f6;
    pointer-events: none;
}
